/* edshare summary */


/* mrt - removing this styling until I finish previews
#edshare_summary_above {
}

#edshare_summary_left {
	float: left;
	width: 66.5%
}

#edshare_summary_right {
	float: right;
	width: 33.2%
}

#edshare_summary_below {
	clear:both;
}

.edshare_summary_abstract {
	text-align: justify;
}
*/

.ed_creatorsname {
	list-style: none;
	margin: 0;
	padding: 0;
}


/*edshare summary toolbox */
.edshare_toolbox_edshare_toolbox {
	list-style: none;
	padding-left: 10px;
}

/* taglite */
.ed_taglite_maintable{
        text-align:center;
}

.ep_taglite_pickup_container{
        text-align:center;
}
.ed_taglite_bottom{
        padding: 10px;
}
.ed_taglite_input{
        margin: 10px 2px;
}

div.autocomplete {
	  position:absolute;
	  width:250px;
	  background-color:white;
	  border:1px solid #888;
	  margin:0;
	  padding:0;
}
div.autocomplete ul {
	  list-style-type:none;
	  margin:0;
	  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
	  list-style-type:none;
	  display:block;
	  margin:0;
	  padding:2px;
	  height:32px;
	  cursor:pointer;
}

/* view permissons */
.edshare_permissions {
	text-align:center;
}


.edshare_permissions_coarse {
	list-style:none;
	text-align:center;
}

.edshare_permissions_coarse li {
	display: inline-block;
	padding: 5px 20px;
	font-weight:bold;
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.6;
	cursor: pointer;
}

.edshare_permissions_coarse img {
	height: 64px;
	width: 64px;
	padding-bottom: 5px;
}

.edshare_permissions_coarse > li.selected {
	border: 1px dashed black;
	padding: 4px 19px;
	background: white;
	filter: alpha(opacity=100);
	opacity: 1;
}
