/* permissons component */
.edshare_permissions {
	text-align:center;
}

.edshare_permissions_left, .edshare_permissions_right {
	display: inline-block;
	width: 50%;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.edshare_permissions_legend {
	font-weight: bold;
}

.edshare_permissions_coarse {
	list-style:none;
	text-align:center;
	padding-left: 0;
}

.edshare_permissions_coarse li {
	display: inline-block;
	padding: 5px 10px;
	border: 1px dashed transparent;
	font-weight:bold;
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.6;
	cursor: pointer;
}

.edshare_permissions_coarse > li.selected {
	background: white;
	border-color: black;
	filter: alpha(opacity=100);
	opacity: 1;
}

.edshare_permissions_coarse img {
	margin-bottom: 5px;
}

.edshare_permissions_left .edshare_permissions_coarse img {
	height: 72px;
	width: 72px;
}


.edshare_permissions_right .edshare_permissions_coarse {
	padding: 12px 0;
}
.edshare_permissions_right .edshare_permissions_coarse img {
	height: 48px;
	width: 48px;
}

.edshare_permissions_advanced_options {
	padding: 7px;
	width: 100%;
}
.edshare_permissions_advanced_placeholder {
	color: grey;
}

.edshare_permissions_advanced_type {
	margin-bottom: 15px;
}

.edshare_permissions_advanced_list {
	background: white;
	border: 1px silver solid;
	padding: 5px;
	margin: 0;
	margin-bottom: 15px;
	list-style: inside none;
}

.edshare_permissions_advanced_value {
	margin-bottom: 2px;
}

