/* this section deals only with dimensions */

#premiere_preview_area {
	width: 640px;
	height: 480px;
}

#premiere_preview_left {
	width: 640px; /* must equal preview_area width */
}

#premiere_preview_right {
	margin-left: 640px; /* must equal preview_area width */
}

/* ENSURE THAT:
	right_header (height + 2*padding) + document_area height + right_footer (height + 2*padding) = preview_area height
*/

.premiere_preview_right_header {
	height: 15px;
	padding: 5px;
}
.premiere_preview_document_area {
	height: 430px;
}
.premiere_preview_right_footer {
	height: 15px;
	padding: 5px;
}

/* end dimensions */

.premiere_preview_document_area {
	overflow-w:scroll;
	overflow: auto
}
.premiere_preview_right_footer {
	position: relative;
	bottom: 0;
}

.ep_tm_page_content {
	width: 950px !important;
}

#premiere_preview_container {
	border: 1px solid black;
}

#premiere_preview_area {
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: 0;
}


#premiere_preview_left {
	float:left;
}

#premiere_preview_right {
	border-left: 1px solid black;
	position: relative;
}

.premiere_preview_right_bar {
	background: black;
	color: white;
	text-align: center;
}

.premiere_preview_document_count {
	padding:5px;
	display: block;
}

.premiere_preview_document_list {
	padding: 0;
	margin: 0;
	list-style-position: inside;
}

.premiere_preview_document_icon {
	vertical-align: middle;
}
.premiere_preview_document_title {
	font-weight: bold;	
}

.premiere_preview_selector {
	cursor: pointer;
	padding:5px;
}
.premiere_preview_selected {
	background: #CCC;
}

#premiere_preview_info {
	margin: 5px 0;
}
#premiere_preview_info h1 {
	text-align: left;
	font-size: 160%;
}
.premiere_preview_lighter {
	opacity: 0.6;
}
.profile_picture {
	height: 64px;
	float:left;
}

.premiere_preview_title_uploader {
	margin-left: 64px;
	padding-left: 5px;
}
.premiere_preview_license_icon {
	width: 96px;
}
