/* this section deals only with dimensions */

#preview_main {
	width: inherit;
}

#preview_area {
	overflow: hidden;
	padding: 0;
	margin: -1px;
	border: 1px solid black;
/*	width: inherit;
	height: inherit; */
}

#edshare_summary_left {
	float:left;
}

#edshare_summary_right {
	padding-left: 12px;
}

.preview_ajax {
	padding-left: 330px;
	padding-top: 150px;
}

/* end dimensions */

.ep_tm_page_content {
/* wtf is this???	 

	width: 1000px !important;
*/

}

/* document selector */

#preview_documents {
	border: 1px solid black;
	border-top: 0px;
	margin: -1px;
}

#preview_download_area {
	background:black;
	color: white;
	padding: 5px;
	margin: 0;
}

#preview_download_area > span {
	vertical-align: top;
}

#preview_document_info, #preview_document_button {
	float: right;
	margin-left:10px;
}

.preview_document_list {
	padding: 5px;
	margin: 0;
	list-style-position: inside;
	text-align: center;
	clear:both;
}
.preview_document_list li {
	display:inline-block;
}

.preview_selector {
	cursor: pointer;
	padding: 2px;
	margin: 2px 3px;
}
.preview_selector:hover {
	background: #EEE;
}
.preview_selected, .preview_selected:hover {
	background: silver;
}

.preview_document_icon {
	vertical-align: middle;
	height: 24px;
}

.preview_document_title {
	font-weight: bold;	
}
.preview_document_hidden {
	display: none;
}

.preview_button {
	display: inline-block;
	background: darkgreen;
	border: 1px solid silver;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 3px;
	font-size: 140%;
	font-weight:bold;
	text-decoration:none;
	text-shadow: 1px 1px 3px black;
	text-align:center;
}

.preview_button:hover {
	background: green;
}

.preview_button:active {
	margin-top: 6px;
}

a.preview_button, a.preview_button:link, a.preview_button:visited, a.preview_button:hover, a.preview_button:active {
	color: white;
}

/* main information */

#preview_info {
	margin: 0 5px;
}

#preview_info h1 {
	text-align: left;
	font-size: 160%;
}

.preview_lighter {
	opacity: 0.6;
}

.preview_license_icon {
	width: 96px;
}
