#resource_manager_left {
	width: 25%;
	float: left;
}

#resource_manager_right {
	width: 75%;
	float: right;
}

/* controls */
.resource_manager_control_title {
	font-weight: bold;
	font-size: 110%;
	margin-top: 10px;
}

.resource_manager_control_block ul {
	list-style: none;
	margin: 5px;
	padding: 0;
}

.resource_manager_control_block li {
	padding-bottom: 3px;
}

.resource_manager_control_block img {
	vertical-align: middle;
}

.resource_manager_show_control {
	text-size: 120%;
}

.resource_manager_filter_count {
	font-size: 60%;
	color: gray;
	padding-left: 7px;
}

/* manageable items */
.manageable img {
	vertical-align: middle;
	height: 20px;
	width: 20px;
}

.manageable {
	background-color: #e4e4e4;
	border-style: solid;
	border-color: #bbb;
	border-width: 1px;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	text-align: left;
}

.manageable_shared {
	background-color: #f0f0f0;
	border-color: #f0f0f0;
}

.manageable_data_wrapper {
	margin-right: 96px;
}

.manageable_data {
	padding: 3px 0 3px 5px;
	vertical-align: middle;
}

.manageable_data .manageable_data_title {
	font-size: 14px;
}

.manageable_controls {
	display: block;
	float: right;
	padding: 3px 0;
	margin: 0px;
}

.manageable_controls ul {
	padding: 0px;
	margin: 0px;
}

.manageable_controls li {
	list-style: none;
	display: inline;
	padding: 0 5px;
}

.manageable_controls a:hover {
	text-decoration: none;
}

.manageable_controls > ul > li.manageable_less_arrow { display:none;}
.manageable_more { display:none; padding: 0 5px 5px 5px; }

.manageable_showing_more > div.manageable_controls > ul >li.manageable_more_arrow { display:none; }
.manageable_showing_more > div.manageable_more { display: block; }
.manageable_showing_more > div.manageable_controls > ul > li.manageable_less_arrow { display:inline; }
