#resource_manager_left {
	width: 25%;
	float: left;
}

#resource_manager_left h1 {
	text-align: left;
}


#resource_manager_right {
	width: 75%;
	float: right;
}

/* controls */
.resource_manager_control {
	padding-bottom: 5px;
	margin-right: 10px;
}

.resource_manager_control_title {
	font-weight: bold;
	font-size: 13px;
}

.resource_manager_control ul {
	list-style: none;
	margin: 5px;
	padding: 0;
	font-size: 12px;
}

.resource_manager_control li {
	padding-bottom: 2px;
}

.resource_manager_control img {
	vertical-align: middle;
	height: 12px;
}

.resource_manager_filter_count {
	font-size: 10px;
	color: gray;
	padding-left: 7px;
}

.resource_manager_top_controls {
	margin: 15px 0;
}

.resource_manager_show_control ul {
	margin: 0;
	padding: 0;
	font-size: 16px;
	text-align: left;
	float: left;
}

.resource_manager_show_control li {
	display: inline;
	padding: 0 15px 0 0;
	margin: 0;
}

.resource_manager_show_control a {
	color: black;
}

#resource_manager_right .ep_form_action_button, #resource_manager_right .ep_block {
	margin: 0;
}

#resource_manager_right .ep_block {
	float: right;
}


/* manageable items */
.manageable img {
	vertical-align: middle;
	height: 20px;
	width: 20px;
}

.manageable {
	background-color: #e4e4e4;
	border-style: solid;
	border-color: #bbb;
	border-width: 1px;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	text-align: left;
}

.manageable_shared {
	background-color: #f0f0f0;
	border-color: #f0f0f0;
}

.manageable_data_wrapper {
	margin-right: 96px;
}

.manageable_data {
	padding: 3px 0 3px 5px;
	vertical-align: middle;
}

.manageable_data .manageable_data_title {
	font-size: 14px;
}

.manageable_controls {
	display: block;
	float: right;
	padding: 3px 0;
	margin: 0px;
}

.manageable_controls ul {
	padding: 0px;
	margin: 0px;
}

.manageable_controls li {
	list-style: none;
	display: inline;
	padding: 0 5px;
}

.manageable_controls a:hover {
	text-decoration: none;
}

.manageable_controls > ul > li.manageable_less_arrow { display:none;}
.manageable_more { display:none; padding: 0 5px 5px 5px; }

.manageable_showing_more > div.manageable_controls > ul >li.manageable_more_arrow { display:none; }
.manageable_showing_more > div.manageable_more { display: block; }
.manageable_showing_more > div.manageable_controls > ul > li.manageable_less_arrow { display:inline; }
