.ed_taglite_maintable{
        text-align:center;
}

.ep_taglite_pickup_container{
        text-align:center;
}
.ed_taglite_bottom{
        padding: 10px;
}
.ed_taglite_input{
        margin: 10px 2px;
}

