.clearer {
	clear: both;
}

.edshare_summary_abstract {
	font-size:110%;
}

/* Result citation */
.griditem {
        color: #151a3d;
        font-size:12px;
        margin-top:5px;
        margin-bottom:5px;
        padding-bottom:10px;
        padding-top:10px;
        border-bottom: 1px solid #b3b7ba;
        overflow: hidden;
}

.griditem h2 {
        font-size: 14px;
        text-align: left;
        margin:0;
        padding:0;
	border: 0;
}

.griditem p {
        margin:0;
        padding:0;
        text-align: left;
}

/* mrt - i haven't decided how to handle previews yet
.griditem .preview {
        float:left;
        margin-right:5px;
        margin-top:2px;
        clear:left;
}

.griditem .preview img {
        margin-left:10px;
        padding:6px;
        float:left;
        border: 1px solid #e0e0d5;
}

.griditem .preview .previewData {
        float:left;
        margin-top:0px;
        width:26px;
        height:42px;
        display:block;
        color: #3d4b8c;
        text-align: center;
        line-height:20px;
        font-size:8pt;
        background-image: url(../images/preview.gif);
}
*/

.griditem .metadata {
        float: right;
        font-size: 10px;
        line-height: 12px;
        overflow: hidden;
        width: 200px;
        border-left: 2px solid #b3b7ba;
        padding-left: 4px;
        text-align: left;
}

.result_body {
/*        margin-left: 80px; mrt - again, how to handle previews */
        margin-right: 220px;
        line-height: 15px;
        overflow: hidden;
}

.result_body h2 {
        line-height: 20px;
	margin-top: 0;
}

.result_body p {
        text-align: justify;
        overflow: hidden;
}

.result_text {
        overflow: hidden;
}

.result_more {
        margin-left: 80px;
        margin-right: 160px;
        line-height: 20px;
        overflow: hidden;
}

/* Workflow styling */
.ed_creatorsname {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* taglite */
.edshare_taglite {
	text-align: center;
}

.edshare_taglite_suggestions {
/*	display: none; */
} 

.edshare_taglite_tag {
	font-weight: bolder;
}

.edshare_taglite_suggestions table {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.edshare_taglite_suggestions h2 {
	font-weight: normal;
}

.edshare_taglite_suggestions td {
	text-align: left;
	padding: 0 10px;
}

/* mrt - maybe restyle this a bit
.edshare_taglite_suggestions_table li {
	display: inline;
	padding-right: 7px;
}
*/

/* old shit
.ed_taglite_maintable{
        text-align:center;
}

.ep_taglite_pickup_container{
        text-align:center;
}
.ed_taglite_bottom{
        padding: 10px;
}
.ed_taglite_input{
        margin: 10px 2px;
}
*/

/* autocomplete stuff */
div.autocomplete {
	  position:absolute;
	  width:250px;
	  background-color:white;
	  border:1px solid #888;
	  margin:0;
	  padding:0;
}
div.autocomplete ul {
	  list-style-type:none;
	  margin:0;
	  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
	  list-style-type:none;
	  display:block;
	  margin:0;
	  padding:2px;
	  height:32px;
	  cursor:pointer;
}

/* permissons component */
.edshare_permissions {
	text-align:center;
}

.edshare_permissions_left, .edshare_permissions_right {
	display: inline-block;
	width: 50%;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.edshare_permissions_legend {
	font-weight: bold;
}

.edshare_permissions_coarse {
	list-style:none;
	text-align:center;
	padding-left: 0;
}

.edshare_permissions_coarse li {
	display: inline-block;
	padding: 5px 10px;
	border: 1px dashed transparent;
	font-weight:bold;
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.6;
	cursor: pointer;
}

.edshare_permissions_coarse > li.selected {
	background: white;
	border-color: black;
	filter: alpha(opacity=100);
	opacity: 1;
}

.edshare_permissions_coarse img {
	margin-bottom: 5px;
}

.edshare_permissions_left .edshare_permissions_coarse img {
	height: 72px;
	width: 72px;
}


.edshare_permissions_right .edshare_permissions_coarse {
	padding: 12px 0;
}
.edshare_permissions_right .edshare_permissions_coarse img {
	height: 48px;
	width: 48px;
}

.edshare_permissions_advanced_options {
	padding: 7px;
	width: 100%;
}
.edshare_permissions_advanced_placeholder {
	color: grey;
}

.edshare_permissions_advanced_type {
	margin-bottom: 15px;
}

.edshare_permissions_advanced_list {
	background: white;
	border: 1px silver solid;
	padding: 5px;
	margin: 0;
	margin-bottom: 15px;
	list-style: inside none;
}

.edshare_permissions_advanced_value {
	margin-bottom: 2px;
}

 /* not sure why the drop downs aren't ordered - but I will do it explicitly just to make sure  */
.ep_drop_target {
	z-index: 5;
}


/* front page stuff */
#edshare_frontpage_left {
	width: 55%;
}

#edshare_frontpage_right {
	float: right;
	width: 43%;
}

#edshare_toolbox {
	margin: 12px;
}

#edshare_toolbox > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#edshare_toolbox img {
	vertical-align: middle;
}
