.clearer {
	clear: both;
}

.edshare_summary_abstract {
	font-size:110%;
}

/* Result citation */
.griditem {
        color: #151a3d;
        font-size:12px;
        margin-top:5px;
        margin-bottom:5px;
        padding-bottom:10px;
        padding-top:10px;
        border-bottom: 1px solid #b3b7ba;
        overflow: hidden;
}

.griditem h2 {
        font-size: 14px;
        text-align: left;
        margin:0;
        padding:0;
	border: 0;
}

.griditem p {
        margin:0;
        padding:0;
        text-align: left;
}

/* mrt - i haven't decided how to handle previews yet
.griditem .preview {
        float:left;
        margin-right:5px;
        margin-top:2px;
        clear:left;
}

.griditem .preview img {
        margin-left:10px;
        padding:6px;
        float:left;
        border: 1px solid #e0e0d5;
}

.griditem .preview .previewData {
        float:left;
        margin-top:0px;
        width:26px;
        height:42px;
        display:block;
        color: #3d4b8c;
        text-align: center;
        line-height:20px;
        font-size:8pt;
        background-image: url(../images/preview.gif);
}
*/

.griditem .metadata {
        float: right;
        font-size: 10px;
        line-height: 12px;
        overflow: hidden;
        width: 200px;
        border-left: 2px solid #b3b7ba;
        padding-left: 4px;
        text-align: left;
}

.result_body {
/*        margin-left: 80px; mrt - again, how to handle previews */
        margin-right: 220px;
        line-height: 15px;
        overflow: hidden;
}

.result_body h2 {
        line-height: 20px;
	margin-top: 0;
}

.result_body p {
        text-align: justify;
        overflow: hidden;
}

.result_text {
        overflow: hidden;
}

.result_more {
        margin-left: 80px;
        margin-right: 160px;
        line-height: 20px;
        overflow: hidden;
}

/* Workflow styling */
.ed_creatorsname {
	list-style: none;
	margin: 0;
	padding: 0;
}

 /* not sure why the drop downs aren't ordered - but I will do it explicitly just to make sure  */
.ep_drop_target {
	z-index: 5;
}


/* front page stuff */
#edshare_frontpage_left {
	width: 55%;
}

#edshare_frontpage_right {
	float: right;
	width: 43%;
}
